form {
    width: 140%;
    margin-top: 7%;
    margin-left: -2%;
}

.formpanel {
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    padding-left: 10px!important;
}

.head {
    margin-top: -0.099%;
}

.links {
    margin-left: 78%;
    margin-top: -3%;
    font-size: 11pt;
}

h1 {
    letter-spacing: 1px;
    color: #E22E1E;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

td,
label {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 15px;
}

.borderless td,
.borderless th {
    border: none;
}