<div class="col-md-12" id="#main">
<div class="panel panel-primary">
<div class="panel-body">
<span>Manage Admission Process</span>
<hr>
<ul class="nav navbar-nav navbar-right">
<li class="active">
<a routerLink="enable_disable_stream" data-toggle="tab" id="tab-choice">Enable/Disable Stream</a>
</li>
<li class="active">
<a routerLink="prospectus" data-toggle="tab" id="tab-choice">Prospectus</a>
</li>
<li class="active">
<a routerLink="special_case" data-toggle="tab" id="tab-choice">Special Case</a>
</li>
<li class="active">
<a routerLink="undertaking" data-toggle="tab" id="tab-choice">Undertaking</a>
</li>
</ul>
<div class="col-md-12">
<router-outlet></router-outlet>

</div>
</div>
</div>
</div>


