<br>
<form (ngSubmit)="onSubmit(ProjectAllocation)" #ProjectAllocation="ngForm">
    <alert></alert>
    <fieldset class="formpanel">



        <h1>PROJECT ALLOCATION</h1>

        <ul class="nav nav-tabs links">
            <li class="nav-item">
                <a class="nav-link active " style=" color: #333;" (click)="JumpToAllocate()">Allocate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style=" color: #333;" (click)="JumpToView()">View</a>
            </li>


        </ul>


        <hr class="head">



        <table class="table borderless">

            <tr>

                <td>
                    <div class="form-group" [class.has-error]="projectControl.invalid && projectControl.touched">
                        <label class="control-label">Project Code*</label>
                        <input required id="ProjectCode" name="ProjectCode" type="text" class="form-control" [(ngModel)]="ProjectCode" #projectControl="ngModel">
                        <span class="help-block" style="color:red" *ngIf="projectControl.errors?.required && projectControl.touched">
                        Project Code Required
                      </span></div>
                </td>

                <td>
                    <div class="form-group" [class.has-error]="projectnameControl.invalid && projectnameControl.touched">
                        <label class="control-label">Project Name*</label>
                        <input required id="ProjectName" name="ProjectName" type="text" class="form-control" [(ngModel)]="ProjectName" #projectnameControl="ngModel">
                        <span class="help-block" style="color:red" *ngIf="projectnameControl.errors?.required && projectnameControl.touched">
                          Project Name Required
                        </span></div>

                </td>

                <td>

                    <div class="form-group" [class.has-error]="academicyearControl.invalid && academicyearControl.touched">
                        <label class="control-label">Academic Year*</label>
                        <select required id="AcademicYear" name="AcademicYear" class="form-control" [(ngModel)]="AcademicYear" #academicyearControl="ngModel">
                    <option value="" selected="selected">(Select One)</option>
                    <option *ngFor= "let range of ranges" value="{{range}}">{{range}}</option>
                  </select>
                        <span class="help-block" style="color:red" *ngIf="academicyearControl.errors?.required && academicyearControl.touched">
                    Academic Year Required
                  </span></div>

                </td>

            </tr>



            <tr>
                <td colspan="3">
                    <div class="form-group" [class.has-error]="rollnoControl.invalid && rollnoControl.touched">
                        <label class="control-label">Roll No*</label>
                        <textarea required id="RollNo" name="RollNo" class="form-control" rows="4" [(ngModel)]="RollNo" #rollnoControl="ngModel"></textarea>
                        <span class="help-block" style="color: red" *ngIf="rollnoControl.errors?.required && rollnoControl.touched">
                  Please enter Roll Numbers
                </span></div>
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    <div class="form-group" [class.has-error]="facultyControl.invalid && facultyControl.touched">
                        <label class="control-label">Faculty*</label>
                        <select required id="Staff" name="Staff" class="form-control" [(ngModel)]="Staff" #Div #facultyControl="ngModel">
                      <option value="">(Select One)</option>
                      <option *ngFor= "let Staff of Staffs" value="{{Staff.StaffId}}" >{{Staff.FirstName}} {{Staff.LastName}} {{Staff.StaffCode}}</option>
                    </select>
                        <span class="help-block" style="color:red" *ngIf="facultyControl.errors?.required && facultyControl.touched">
Please Select a Faculty Member
                    </span></div>
                </td>

                <td>
                    <div class="form-group" [class.has-error]="sessionControl.invalid && sessionControl.touched">
                        <label class="control-label">All Session Nos.*</label>
                        <input required pattern="^[1-8](,[1-8])*$" id="Session" type="text" name="Session" placeholder="e.g. 1,2,3,4" class="form-control" [(ngModel)]="Session" #sessionControl="ngModel">
                        <span class="help-block" style="color:red" *ngIf="sessionControl.errors?.required && sessionControl.touched">
                      Enter Session Numbers
                    </span>
                        <span class="help-block" style="color:red" *ngIf="sessionControl.errors?.pattern && sessionControl.touched">
                     Sessions should only be numbers
                      </span></div>
                </td>






            </tr>
            <tr>

                <td></td>

            </tr>

            <button type="submit" class="btn btn-danger" [disabled]=!ProjectAllocation.valid>Allocate</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-light">Cancel</button>


        </table>

        <hr>

        <div class="buttontop">
            <button type="button" class="btn btn-danger" (click)="show=!show">See List of roll nos</button>
        </div>
        <br>
        <div *ngIf="show">
            <table class="table  table-striped table-hover table-bordered reactive-table">
                <thead>
                    <tr>
                        <th fieldid="0">Name</th>
                        <th fieldid="1">RollNo</th>
                        <th fieldid="2">Division</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Student of students">
                        <td>{{Student.FirstName}} {{Student.LastName}}</td>
                        <td>{{Student.RollNo}}</td>
                        <td>{{Student.Division.DivisionName}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <br>



    </fieldset>
</form>