<div style=" width: 140%;
margin-top: 7%;
margin-left: -2%;" class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-body">
            <b><a style="color: red">EXPORT STUDENT DATA</a></b>
            <hr>
            <div class="row">
                <div class="col-lg-3">
                    <label>Admission</label>
                    <select required id="admission" name="admission" class="form-control" [(ngModel)]="admission" #admissionControl="ngModel">
                <option value="">(Select One)</option>
                <option *ngFor= "let admission of admissions" [value]="admission">
                {{admission}}
                </option>
                </select>
                </div>
                <div class="col-lg-3">
                    <label>Course</label>
                    <select required id="course" name="course" [(ngModel)]="course" class="form-control" #courseControl="ngModel">
                  <option value="">(Select One)</option>
                  <option *ngFor= "let course of courses" [value]="course">
                  {{course}}
                  </option>
                  </select>
                </div>
                <div class="col-lg-3">
                    <label>Division</label>
                    <select id="division" name="division" class="form-control" [(ngModel)]="division">
                  <option value="">(Select One)</option>
                  <option *ngFor= "let division of divisions" [value]="division">
                  {{division}}
                  </option>
                  </select>
                </div>
                <div class="col-lg-3">
                    <label>Semester</label>
                    <select id="semester" name="semester" [(ngModel)]="semester" class="form-control">
                <option value="" selected="selected">(Select One)</option>
                <option *ngFor= "let semester of semesters" [value]="semester">
                {{semester}}
                </option>
                </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">

                    <p></p>
                    <label>Subjects</label>
                    <select id="subjectchoice" name="subjectchoice" [(ngModel)]="subjectchoice" class="form-control" #subjectchoiceControl="ngModel">
                    <option value="">(Select One)</option>
                    <option *ngFor= "let subjectchoice of subjectchoices" [value]="subjectchoice">
                    {{subjectchoice}}
                    </option>
                    </select>
                </div>
            </div>
            <br>
            <div class="col-lg-3">
                <button type="button" class="btn btn-danger bgreenBtn" id="maindis">Search</button>
            </div>
            <div class="row">
                <div class="col-md-12" id="student_table">
                    <table id="export-student-list" class="table table-striped table-hover table-bordered reactive-table">

                    </table>
                    <br/>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <input type="hidden" name="exportData" value="1" />
                            <button type="submit" class="btn btn-default" id="export_students" style="display:none;">Export</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>