<!--editor install tinymce-->
<!--<div class="col-md-12"> 
    <div class="panel panel-primary">
    <div class="panel-body">
    <span>UNDERTAKING CONTENT</span>
    <hr>
    <div class="row">
    <form class="form" id="undertakingForm">
    <div class="col-md-12" >
    <div class="form-group ">
    <label class="control-label">Undertaking by student</label>
    <div id="undertaking-student">
    <textarea id="{{elementId}}"></textarea>
    </div>
    <span class="help-block">
    </span>
    </div>
    </div>
    <br>
    <div class="col-md-12" >
    <div class="form-group ">
    <label class="control-label">Undertaking by guardian</label>
    <div id="undertaking-guardian">
    <textarea name="guardiantextarea"  id="guardiantextarea">
    <!--editor-->
    <!--</textarea>
    </div>
    <span class="help-block">
    </span>
    </div>
    </div>
    <div class="col-md-12" >
    <button class="btn btn-primary bgreenBtn" name="submit" type="submit">Update</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>-->

<!--<app-undertaking-content [elementId]="'my-editor'"
(onEditorContentChange)="keyupHandler($event)"
></app-undertaking-content>-->

