form {
    width: 140%;
    margin-top: 7%;
    margin-left: -2%;
}

button {
    font-family: "Open Sans", sans-serif;
    font-size: 10.5pt;
    margin-left: 20%;
}

img {
    width: 50%;
    height: 50%;
    margin-left: 20%;
}

h1 {
    letter-spacing: 1px;
    color: #E22E1E;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

t .list-unstyled {
    font-family: "Open Sans", sans-serif;
    color: #646464;
    font-size: 15px;
    letter-spacing: 1px;
}

tab {
    background-color: #E22E1E;
}


/* fieldset
{
width: 75%;
border: 1px solid #ddd !important;
margin: 0;
padding: 10px;
position: relative;
border-radius:4px;

padding-left:10px!important;
}  */

.sidebar {
    border: 1px solid #ddd !important;
    width: 30%;
    margin-left: -2%;
    border-radius: 4px;
    margin-top: 8%;
}

.main {
    width: 110%;
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    margin-left: 30%;
    margin-top: -37%;
    padding-left: 10px!important;
}