<br><br>
<br><br>

<fieldset class="formpanel">
    <div class="col-md-12">
        <h1>Dashboard</h1>
    </div>
    <div class="col-md-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home<span class="glyphicon glyphicon-menu-right"></span></a></li>
                        <li><a href="#">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel panel-body">
                <span class="caption-subject font-blue-madison bold uppercase"><i class="glyphicon glyphicon-bell"></i> Notification</span>
                <hr>
                <div class="btn-arrow-link pull-right">
                    <a href="#" style="color:red" id="see_all_activities">See All Records <i class=""></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel panel-body">
                <span class="caption-subject font-blue-madison bold uppercase"><i class="glyphicon glyphicon-ok"></i> Task</span>
                <hr>
                <div class="btn-arrow-link pull-right">
                    <a href="#" style="color:red" id="see_all_activities">See All Records <i class=""></i></a>
                </div>
            </div>
        </div>
    </div>
</fieldset>