<br>
<form>
    <fieldset class="formpanel">
        <alert></alert>
        <h1>ADD A NEW DESIGNATION</h1>
        <hr>
        <div class="form-group">
            <label for="DesignationName">Designation Name</label>
            <input type="text" class="form-control" name="DesignationName" #DesignationName required />
        </div>
        <div class="form-group">
            <button class="btn btn-danger" (click)="submit(DesignationName)">Submit</button>
        </div>

        <table class="table  table-striped table-hover table-bordered reactive-table">
            <thead>
                <tr>
                    <th fieldid="0">Designation Name</th>
                    <th fieldid="1">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Designation of Designations">
                    <td><input type="text" value="{{Designation.DesignationName}}" [disabled]=!field #DesName></td>
                    <td>
                        <span class=" glyphicon glyphicon-edit" (click)="Enter(Designation,DesName)"></span> &nbsp;&nbsp;
                        <span class=" glyphicon glyphicon-trash " (click)="Delete(Designation)"></span></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>